<div class="container-fluid" *ngIf="(video$ | async) as video">
    <div class="row">
        <div class="col">
            <video controls width="250">
                <source [src]="video.path"
                        type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ video.name }}</h1>
            <span>
            <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
                {{ video.uploader }}
            </span>
        </div>

        <div class="col d-flex justify-content-end">
            <span class="p-buttonset">
            <p-button *ngIf="likes.has(video.id)" (click)="onLikeRemove(video)" class="px-1" label="Remove from likes" icon="pi pi-thumbs-up"
                      iconPos="left"></p-button>
            <p-button *ngIf="!likes.has(video.id)" (click)="onLike(video)" class="px-1" label="Like" icon="pi pi-thumbs-up" styleClass="p-button-outlined"
                      iconPos="left"></p-button>
            <p-button *ngIf="later.has(video.id)" (click)="onWatchLaterRemove(video)" class="px-1" label="Remove from watch later"
                      icon="pi pi-clock" iconPos="left"></p-button>
            <p-button *ngIf="!later.has(video.id)" (click)="onWatchLater(video)" class="px-1" styleClass="p-button-outlined" label="Watch Later" icon="pi pi-clock"
                      iconPos="left"></p-button>
            <p-button *ngIf="!later.has(video.id)" (click)="onDelete(video)" class="px-1" styleClass="p-button-outlined p-button-danger" title="Delete Video" icon="pi pi-trash"
                      iconPos="left"></p-button>
            </span>
        </div>
    </div>
</div>
